<div class="stories">
  {% assign stories = site.stories | where:"lang", page.lang | sort: "index" %}
  {% for story in stories %}
  <article class="stories__story" id="story-{{ story.index }}">
    <div class="stories__story-column-left">
      <img
        src="{{ relroot }}img/story-images/{{ story.graphic }}.svg"
        alt="{{story.alt}}"
        class="stories__story-image"
      >
    </div>
    <div class="stories__story-column-right">
      <h2 class="stories__story-title-small">
        {{story.title}}
      </h2>
      <p class="stories__story-title">
        {{story.summary}}
      </p>
      <p class="stories__story-text">
        {{ story.content | remove: '<p>' | remove: '</p>'  }}
      </p>
    </div>
  </article>
  {% endfor %}


  <div class="layout-app-badges--stories-wrap">
    <h2> {{ site.data.translations.info-lead-title[page.lang] }}:</h2>
    <div class="layout-app-badges">
      <a class="app_badge_column__left" href="{{ site.data.translations.info-app-store-url[page.lang] }}">
        <img src="/img/{{ site.data.translations.info-app-store-img[page.lang] }}" alt="{{ site.data.translations.header-appstore[page.lang] }}" />
      </a>
      <a class="app_badge_column__right" href="{{ site.data.translations.info-google-play-url[page.lang] }}">
        <img src="/img/{{site.data.translations.info-google-play-img[page.lang]}}" alt="{{ site.data.translations.header-googleplaystore[page.lang] }}" />
      </a>
    </div>
  </div>


</div>